.env

<div class="row">
            {% for photo in photo %}
            <div class="col-md-4">
              <!-- displaying News articles -->
              <div class="card my-2">
                <img
                  class="image-thumbail"
                  src="{{photo.image.url}}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Category: {{ photo.category.name }}</small>
                </div>
                <a
                  href="{% url 'viewphoto' photo.id %}"
                  class="btn btn-outline-dark btn-sm m-1"
                  >View</a
                >
              </div>
            </div>
            {% empty %}
            <div class="alert alert-danger" role="alert">
              No Image to Display
            </div>
            {% endfor %}
          </div>


 <div class="extra">
        <div class="row welcome text-center" class="box">
            <div class="box" class="col-xs-12 col-sm-6 col-md-3">
            {% for photo in photo %}
                <img src="workdetails/portfolio/work5.jpg" alt="work5">  
                <div>
                    <p><strong>Have a Good Day</strong></p>
                </div> 
            </div>
          {% endfor %}
        </div>
  </div>


        <div class="extra">
        <div class="row welcome text-center" class="box">
            <div class="box" class="col-xs-12 col-sm-6 col-md-3">
                {% for photo in photo %}
            <div class="col-md-4">
              <!-- displaying News articles -->
              <div class="card my-2">
                <img
                  class="image-thumbail"
                  src="{{photo.image.url}}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Category: {{ photo.category.name }}</small>
                </div>
                <a
                  href="{% url 'viewphoto' photo.id %}"
                  class="btn btn-outline-dark btn-sm m-1"
                  >View</a
                >
              </div>
            </div>
            {% empty %}
            <div class="alert alert-danger" role="alert">
              No Image to Display
            </div>
            {% endfor %}
            </div>
            
        </div>
        </div>


        <div class="extra">
        <div class="row welcome text-center" class="box">
            <div class="box" class="col-xs-12 col-sm-6 col-md-3">
                <img src="workdetails/portfolio/work5.jpg" alt="work5">  
                <div>
                    <p><strong>Have a Good Day</strong></p>
                </div> 
            </div>
            
        </div>
        </div>


        <div class="cards">
            <div class="card">
              <img
                class="card__image"
                src="https://fakeimg.pl/400x300/009578/fff/"
                alt=""
              />
              <div class="card__content">-----</div>
              <div class="card__info">
                <div>
                  <a href="./" class="card__link">View Article</a>
                </div>
              </div>
            </div>
          </div>