{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Wanyoike Profile- {{title}}</title>
  {% else %}
    <title> Wanyoike Profile </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-3">
          <div class="card">

            <div class="card-header">
              <h3>Categories</h3>
            </div>  

            <ul class="list-group list-group-flush">
              <li class="list-group-item">All</li>
              <li class="list-group-item">Categories</li>
              <li class="list-group-item">Location</li>
              
            </ul>

          </div>

        </div>
        <div class="col-9 col-sm-3">
          <div class="row">
            <div class="card">
              <img src="templates/images/pexels-pixabay-355952.jpg" class="image-thumbnail" alt="...">
              <div class="card-body">
                <h5 class="card-title">Details</h5>
                <p class="card-text">Location and Category.</p>
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>



    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>